@model GoodM8s.Core.ViewModels.DynamicIndexViewModel
@{
    Layout.Title = T("Attendees").ToString();
}
<fieldset>
    @using (Html.BeginFormAntiForgeryPost())
    {
        @Html.ValidationSummary()
        <div class="manage">@Html.ActionLink(T("Add a new attendee").ToString(), "Create", new { }, new { @class = "button primaryAction" })</div>
        <table class="items">
            <thead>
                <tr>
                    <th scope="col">@T("First Name")
                    </th>
                    <th scope="col">@T("Last Name")
                    </th>
                    <th scope="col">@T("Actions")
                    </th>
                </tr>
            </thead>
            @foreach (var attendee in Model.List)
            {
                <tr>
                    <td>@attendee.FirstName
                    </td>
                    <td>@attendee.LastName
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink(T("Edit").ToString(), "Edit", new { attendee.Id }) |
                            @Html.ActionLink(T("Delete").ToString(), "Delete", new { attendee.Id }, new { itemprop = "RemoveUrl UnsafeUrl" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    @Display(Model.Pager)
</fieldset>
